<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevin.comicreminder" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/comic_reminder"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ComicInformationActivity"
            android:theme="@style/ChildTheme"
            android:label="@string/reminder_info_text"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kevin.comicreminder.MainActivity"/>

        </activity>
        <activity
            android:name=".CountdownView"
            android:label="@string/view_countdown_text"
            android:theme="@style/ChildTheme"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kevin.comicreminder.MainActivity"/>
        </activity>
    </application>

</manifest>
